@import "tailwindcss";


@keyframes border-spin {
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  animation: border-spin 3.5s linear infinite;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}