@import "tailwindcss";


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: #EAB308; 
  border-radius: 100px; 
  border: 3px solid #050505; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #EAB308 #050505;
}